<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1">
		<title>Gameboard</title>
        <!-- the form awesome library is used to add icons to our form -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        <!-- include the stylesheet file -->
        <link href="/css/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="login">
			<h1>Gameboard</h1>

			<br />
			<div class="card">
				<div class="card-header">
					<h3>Nutrition</h3>
				</div>
				<div class="card-body">
					<p>Learn about nutrition</p>
					<a href="/health" class="btn">Learn</a>
				</div>
			</div>

			<br />
			<div class="card">
				<div class="card-header">
					<h3>Game</h3>
				</div>
				<div class="card-body">
					<p>Play the game</p>
					<a href="/games" class="btn">Play</a>
				</div>
			</div>
		</div>
	</body>
</html>
