<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Super Mario Clicker</title>
  
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  
</head>
<body>
    
  <div class="game-container">
    <!-- Header -->
    <header>
      <div class="header-content">
        <h1><span class="icon">🏎️</span> SUPER MARIO CLICKER</h1>
       
        <div class="stats-bar">
          <div class="stat">
            <span class="icon">🪙</span>
            <span id="coin-counter">0</span>
            
          </div>
          
          <div class="stat">
            <span class="icon">⚡</span>
            <span id="coins-per-second">0.0</span>/s
          </div>
        </div>
      </div>
      <button onclick="location.href='/Gameboard'" type="button" style="margin-right: 20px; background-color: rgb(7, 33, 2); font-family: 'Press Start 2P', 'Courier New', monospace; color: white; font-size: 10px; padding: 1rem 2rem; border: none; border-radius: 0.5rem; cursor: pointer; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); transition: background-color 0.3s ease;">Back</button></center>
    </header>
    
    <main>
      <div class="shop-panel" style="flex: 1;">
        <center><h2 id="shop-title">UPGRADES</h2>
        <div id="characters-shop" class="upgrade-items">
          <div id="super-mushroom" class="racers">
            <img src="/images/mushrooms.png" alt="" width="200" height="200">
            <h3 style ="font-size: 25px;">SUPER MUSHROOM</h3>
            <p style ="font-size: 25px;">Owned: <span id="super-mushroom-owned">0</span></p>
            <p style ="font-size: 25px;">Cost: <span id="super-mushroom-cost">100</span></p>
            <p style ="font-size: 25px;">Add 1 Coin per Click</p>
            <br>
            <br> 
            <button id="super-mushroom-buy-button" class="buy-button" type="button" style="background-color: #0000ff; font-size: 25px; color: white; border: none; border-radius: 0; padding: 0.5rem 1rem; cursor: pointer; display: flex; align-items: center; font-family: 'Courier New', monospace; font-weight: bold; box-shadow: 0 4px 0 #000080, 0 6px 6px rgba(0, 0, 0, 0.3); border: 2px solid #fff; text-transform: uppercase;">Buy</button> 
            <br> 
            <br> 
            <br> 
          </div>

          <div id="poison-mushroom" class="racers">
            <img src="/images/poisonmush.png" alt="" width="200" height="200">
            <h3 style ="font-size: 25px;">POISON MUSHROOM</h3>
            <p style ="font-size: 25px;">Owned: <span id="poison-mushroom-owned">0</span></p>
            <p style ="font-size: 25px;">Cost: <span id="poison-mushroom-cost">100</span></p>
            <p style ="font-size: 25px;">Gain 10 Coins per Click</p>
            <br>
            <br> 
            <button id="poison-mushroom-buy-button" class="buy-button" type="button" style="background-color: #0000ff; color: white; border: none; border-radius: 0; padding: 0.5rem 1rem; font-size: 25px; cursor: pointer; display: flex; align-items: center; font-family: 'Courier New', monospace; font-weight: bold; box-shadow: 0 4px 0 #000080, 0 6px 6px rgba(0, 0, 0, 0.3); border: 2px solid #fff; text-transform: uppercase;">Buy</button>  
            <br>
            <br> 
            <br>
          </div>

          <div id="fire-flower" class="racers">
            <img src="/images/fireflowers.png" alt="" width="200" height="200">
            <h3 style ="font-size: 25px;">FIRE FLOWER</h3>
            <p style ="font-size: 25px;">Owned: <span id="fire-flower-owned">0</span></p>
            <p style ="font-size: 25px;">Cost: <span id="fire-flower-cost">100</span></p>
            <p style ="font-size: 25px;">Gain 50 Coins per Click</p>
            <br>
            <br> 
            <button id="fire-flower-buy-button" class="buy-button" type="button" style="background-color: #0000ff; color: white; border: none; border-radius: 0; padding: 0.5rem 1rem; font-size: 25px; cursor: pointer; display: flex; align-items: center; font-family: 'Courier New', monospace; font-weight: bold; box-shadow: 0 4px 0 #000080, 0 6px 6px rgba(0, 0, 0, 0.3); border: 2px solid #fff; text-transform: uppercase;">Buy</button> 
            <br>
            <br> 
            <br>
          </div>

          <div id="one-up" class="racers">
            <img src="/images/1upMushroom.png" alt="" width="200" height="200">
            <h3 style ="font-size: 25px;">1-UP MUSHROOM</h3>
            <p style ="font-size: 25px;">Owned: <span id="one-up-owned">0</span></p>
            <p style ="font-size: 25px;">Cost: <span id="one-up-cost">100</span></p>
            <p style ="font-size: 25px;">Gain 100 Coins per Click</p>
            <br>
            <br> 
            <button id="one-up-buy-button" class="buy-button" type="button" style="background-color: #0000ff; color: white; border: none; border-radius: 0; padding: 0.5rem 1rem; font-size: 25px; cursor: pointer; display: flex; align-items: center; font-family: 'Courier New', monospace; font-weight: bold; box-shadow: 0 4px 0 #000080, 0 6px 6px rgba(0, 0, 0, 0.3); border: 2px solid #fff; text-transform: uppercase;">Buy</button> 
            <br>
            <br> 
            <br> 
          </div>

          <div id="super-leaf" class="racers">
            <img src="/images/superleaf.webp" alt="" width="200" height="200">
            <h3 style ="font-size: 25px;">SUPER LEAF</h3>
            <p style ="font-size: 25px;">Owned: <span id="super-leaf-owned">0</span></p>
            <p style ="font-size: 25px;">Cost: <span id="super-leaf-cost">100</span></p>
            <p style ="font-size: 25px;">Gain 500 Coins per Click</p>
            <br>
            <br> 
            <button id="super-leaf-buy-button" class="buy-button" type="button" style="background-color: #0000ff; color: white; border: none; border-radius: 0; padding: 0.5rem 1rem; font-size: 25px; cursor: pointer; display: flex; align-items: center; font-family: 'Courier New', monospace; font-weight: bold; box-shadow: 0 4px 0 #000080, 0 6px 6px rgba(0, 0, 0, 0.3); border: 2px solid #fff; text-transform: uppercase;">Buy</button>  
            <br>
            <br> 
            <br>
          </div>

          <div id="super-star" class="racers">
            <img src="/images/superstars.png" alt="" width="200" height="200">
            <h3 style ="font-size: 25px;">SUPER STAR</h3>
            <p style ="font-size: 25px;">Owned: <span id="super-star-owned">0</span></p>
            <p style ="font-size: 25px;">Cost: <span id="super-star-cost">100</span></p>
            <p style ="font-size: 25px;">Gain 1000 Coins per Click</p>
            <br>
            <br> 
            <button id="super-star-buy-button" class="buy-button" type="button" style="background-color: #0000ff; color: white; border: none; border-radius: 0; padding: 0.5rem 1rem; font-size: 25px; cursor: pointer; display: flex; align-items: center; font-family: 'Courier New', monospace; font-weight: bold; box-shadow: 0 4px 0 #000080, 0 6px 6px rgba(0, 0, 0, 0.3); border: 2px solid #fff; text-transform: uppercase;">Buy</button>  
            <br>
            <br> 
            <br>
          </div>
        </div>
      </div>

      <!-- Middle panel - Clicker -->
      <div class="clicker-panel" style="flex: 1;">
        <div id="coin-button" class="coin-button">
          <button id="coin-button" class="buy-button" type="button" style="background-color: #ffea00; color: rgb(237, 249, 3); border: none; border-radius: 0; padding: 0.5rem 1rem; font-size: 0.8rem; cursor: pointer; display: flex; align-items: center; font-family: 'Courier New', monospace; font-weight: bold; box-shadow: 0 4px 0 #000080, 0 6px 6px rgba(0, 0, 0, 0.3); border: 2px solid #fff; text-transform: uppercase;">
            <img src="Images/coinn.png" alt="Button Image" style="width: 100px; height: 100px;" />
          </button>
        </div>
        <p class="coins-per-click" style ="font-size: 25px;">+<span id="coins-per-click" style ="font-size: 25px;">1.0</span> COINS PER CLICK</p>
        <p class="total-clicks" style = "font-size: 25px;">TOTAL CLICKS: <span id="total-clicks">0</span></p>
      </div>
    
      <!-- Right panel - Shop -->
      <div class="shop-panel" style="flex: 1;">
        <div id="characters-shop" class="shop-items">
          <h2 id="shop-title">CHARACTERS</h2>
        
        <div id="characters-shop" class="shop-items">
          <div id="mario" class="racers">            
            <img src="Images/mario.png" alt="Mario" width="300" height="250">
            <h3 style ="font-size: 25px;">MARIO</h3>
            <p style ="font-size: 25px;">Cost: <span id="mario-cost">10</span></p>
            <p style ="font-size: 25px;">Gain 10 Coin per Second</p>
            <br>
            <br> 
            <button id="mario-buy-button" class="buy-button" type="button" style="background-color: #0000ff; color: white; border: none; border-radius: 0; padding: 0.5rem 1rem; font-size: 25px; cursor: pointer; display: flex; align-items: center; font-family: 'Courier New', monospace; font-weight: bold; box-shadow: 0 4px 0 #000080, 0 6px 6px rgba(0, 0, 0, 0.3); border: 2px solid #fff; text-transform: uppercase;">Buy</button>
            <br>
            <br> 
            <br>
          </div>
          
          <div id="luigi" class="racers">            
            <img src="Images/luigi.png" alt="Luigi" width="180" height="230">
            <h3 style ="font-size: 25px;">LUIGI</h3>
            <p style ="font-size: 25px;">Cost: <span id="luigi-cost">20</span></p>
            <p style ="font-size: 25px;">Gain 20 Coin per Second</p>
            <br>
            <br> 
            <button id="luigi-buy-button" class="buy-button" type="button" style="background-color: #0000ff; color: white; border: none; border-radius: 0; padding: 0.5rem 1rem; font-size: 25px; cursor: pointer; display: flex; align-items: center; font-family: 'Courier New', monospace; font-weight: bold; box-shadow: 0 4px 0 #000080, 0 6px 6px rgba(0, 0, 0, 0.3); border: 2px solid #fff; text-transform: uppercase;">Buy</button>
            <br>
            <br> 
            <br>
          </div>
          
          <div id="peach" class="racers">          
            <img src="Images/princessPeach.png" alt="Princess Peach" width="200" height="200">
            <h3 style ="font-size: 25px;">PRINCESS PEACH</h3>
            <p style ="font-size: 25px;">Cost: <span id="peach-cost">50</span></p>
            <p style ="font-size: 25px;">Gain 50 Coin per Second</p>
            <br>
            <br> 
            <button id="peach-buy-button" class="buy-button" type="button" style="background-color: #0000ff; color: white; border: none; border-radius: 0; padding: 0.5rem 1rem; font-size: 25px; cursor: pointer; display: flex; align-items: center; font-family: 'Courier New', monospace; font-weight: bold; box-shadow: 0 4px 0 #000080, 0 6px 6px rgba(0, 0, 0, 0.3); border: 2px solid #fff; text-transform: uppercase;">Buy</button>
            <br>
            <br> 
            <br>
          </div>
          
          <div id="bowser" class="racers">            
            <img src="Images/bowser.png" alt="Bowser" width="200" height="200">
            <h3 style ="font-size: 25px;">BOWSER</h3>
            <p style ="font-size: 25px;">Cost: <span id="bowser-cost">100</span></p>
            <p style ="font-size: 25px;">Gain 100 Coin per Second</p>
            <br>
            <br> 
            <button id="bowser-buy-button" class="buy-button" type="button" style="background-color: #0000ff; color: white; border: none; border-radius: 0; padding: 0.5rem 1rem; font-size: 25px; cursor: pointer; display: flex; align-items: center; font-family: 'Courier New', monospace; font-weight: bold; box-shadow: 0 4px 0 #000080, 0 6px 6px rgba(0, 0, 0, 0.3); border: 2px solid #fff; text-transform: uppercase;">Buy</button>
            <br>
            <br> 
            <br>
          </div>
          
          <div id="wario" class="racers">
            <img src="Images/Warioo.png" alt="Wario" width="200" height="200">
            <h3 style ="font-size: 25px;">WARIO</h3>
            <p style ="font-size: 25px;">Cost: <span id="wario-cost">200</span></p>
            <p style ="font-size: 25px;">Gain 1000 Coin per Second</p>
            <br>
            <br> 
            <button id="wario-buy-button" class="buy-button" type="button" style="background-color: #0000ff; color: white; border: none; border-radius: 0; padding: 0.5rem 1rem; font-size: 25px; cursor: pointer; display: flex; align-items: center; font-family: 'Courier New', monospace; font-weight: bold; box-shadow: 0 4px 0 #000080, 0 6px 6px rgba(0, 0, 0, 0.3); border: 2px solid #fff; text-transform: uppercase;">Buy</button>
            <br>
            <br> 
            <br>
          </div>
          
          <div id="waluigi" class="racers">
            <img src="Images/waluigi.png" alt="Waluigi" width="200" height="200">
            <h3 style ="font-size: 25px;">WALUIGI</h3>
            <p style ="font-size: 25px;">Cost: <span id="waluigi-cost">500</span></p>
            <p style ="font-size: 25px;">Gain 10000 Coin per Second</p>
            <br>
            <br> 
            <button id="waluigi-buy-button" class="buy-button" type="button" style="background-color: #0000ff; color: white; border: none; border-radius: 0; padding: 0.5rem 1rem; font-size: 25px; cursor: pointer; display: flex; align-items: center; font-family: 'Courier New', monospace; font-weight: bold; box-shadow: 0 4px 0 #000080, 0 6px 6px rgba(0, 0, 0, 0.3); border: 2px solid #fff; text-transform: uppercase;">Buy</button>
            <br>
            <br> 
            <br>
          </div>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <footer>
      <a href="/health">Health</a>
      <p>SUPER MARIO CLICKER © 1992-2025 - PRESS START TO RACE!</p>
    </footer>
  </div>
  <script src="/js/games.js" defer></script>
</body>
</html>