<!DOCTYPE html>
<html>
   <head>
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width,minimum-scale=1">
       <title>Gameboard</title>
       <!-- the form awesome library is used to add icons to our form -->
       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
       <!-- include the stylesheet file -->
       <link href="/css/style.css" rel="stylesheet" type="text/css">
   </head>
   <body>
       <div class="login">
           <h1 style="color: #ffe66d; font-size: 50px">Gameboard</h1>


           <br />
           <div class="card">
               <div class="card-header">
                   <h3 style="color: #ffe66d; ">Nutrition</h3>
               </div>
               <div class="card-body">
                   <p style="color: #ffe66d;">Learn about nutrition</p>
                  
                   <br>
                   <a href="/health" class="btn" style="margin-right: 20px; background-color: rgb(249, 81, 109); font-family: 'Press Start 2P', 'Courier New', monospace; color: white; font-size: 1.5rem; padding: 1rem 2rem; border: none; border-radius: 0.5rem; cursor: pointer; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); transition: background-color 0.3s ease;">Learn</a>
               </div>
           </div>

           <br />
           <br />

           <div class="card">
               <div class="card-header">
                   <h3 style="color: #ffe66d; ">Game</h3>
               </div>
               <div class="card-body">
                   <p style="color: #ffe66d;">Play the game</p>
                   <br>
                   <a href="/games" class="btn" style="margin-right: 20px; background-color: rgb(249, 81, 109); font-family: 'Press Start 2P', 'Courier New', monospace; color: white; font-size: 1.5rem; padding: 1rem 2rem; border: none; border-radius: 0.5rem; cursor: pointer; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); transition: background-color 0.3s ease;">Play</a>
               </div>
           </div>
           
           <br />
           <br />

           <div class="card">
               <div class="card-header">
                   <h3 style="color: #ffe66d; ">Game</h3>
               </div>
               <div class="card-body">
                   <p style="color: #ffe66d;">More Games to Come...</p>
               </div>
           </div>
       </div>
   </body>
</html>