<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1">
        <title>Login</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="container">
            <div id="authContainer" class="auth-container">
              <div id="loginForm">
                <form class="auth-form" id="login-form" action="/login" method="POST">
                  <h1 class="form-title">LOGIN</h1>
                  <div class="form-group">
                    <!-- Username -->
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" />
                    <div class="error-message hidden" id="login-username-error">
                      Username is required
                    </div>
                  </div>

                  <!-- Password -->
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input
                      type="password"
                      id="password"
                      name="password"
                    />
                    <div class="error-message hidden" id="login-password-error">
                      Password is required
                    </div>
                  </div>

                  <!-- Submit -->
                  <button type="submit" class="btn">Login</button>
                  <div class="success-message hidden" id="login-success"></div>
                  <div class="error-message hidden" id="login-error"></div>

                  <!-- Switch to Register -->
                  <div class="switch-form">
                    Don't have an account?
                    <a href="/register" id="switch-to-signup">Sign Up</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <script>
            document.getElementById('login-form').addEventListener('submit', function(event) {
              let hasError = false;

              // Username validation
              const username = document.getElementById('username').value;
              const usernameError = document.getElementById('login-username-error');
              if (!username) {
                usernameError.classList.remove('hidden');
                hasError = true;
              } else {
                usernameError.classList.add('hidden');
              }

              // Password validation
              const password = document.getElementById('password').value;
              const passwordError = document.getElementById('login-password-error');
              if (!password) {
                passwordError.classList.remove('hidden');
                hasError = true;
              } else {
                passwordError.classList.add('hidden');
              }

              if (hasError) {
                event.preventDefault();
              }
            });
          </script>
    </body>
</html>