<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1">
		<title>Register</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
    <div class="container">
            <div id="authContainer" class="auth-container">
              <div id="loginForm">
                <form class="auth-form" id="login-form" action="/register" method="POST">
                  <h1 class="form-title">REGISTER</h1>
                  <!-- Username -->
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" required />
                    <div class="error-message hidden" id="login-username-error"></div>
                  </div>

                  <!-- Email -->
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required />
                    <div class="error-message hidden" id="login-email-error"></div>
                  </div>

                  <!-- Password -->
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input
                      type="password"
                      id="password"
                      name="password"
                      required
                    />
                    <div class="error-message hidden" id="login-password-error"></div>
                  </div>

                  <!-- Confirm Password -->
                  <div class="form-group">
                    <label for="confirm-password">Confirm Password</label>
                    <input
                      type="password"
                      id="confirm-password"
                      name="confirm-password"
                      required
                    />
                    <div class="error-message hidden" id="login-password-error"></div>
                  </div>

                  <!-- Submit -->
                  <button type="submit" class="btn">Register</button>
                  <div class="success-message hidden" id="register-success"></div>
                  <div class="error-message hidden" id="register-error"></div>

                  <!-- Switch to Login -->
                  <div class="switch-form">
                    Already have an account?
                    <a href="/login" id="switch-to-login">Login</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
	</body>
</html>
